<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SeleniumUI Suite">

    <listeners>
        <listener class-name="com.framework.seleniumui.listeners.TestListener"/>
    </listeners>

    <test name="Login Tests">
        <classes>
            <class name="com.framework.seleniumui.tests.LoginTest"/>
        </classes>
    </test>

</suite>